aext-assistant
aext-core
aext-panels
airflow-python-sdk
alive-progress

anthropic
apache-airflow-providers-celery
apache-airflow-providers-google
appdirs
astropy
autopep8
bcrypt
Bottleneck
Brotli
colorama

dask-expr
datashader
distributed
dmglib
elevenlabs
email_validator
faiss-cpu
fastapi-cli
firebase-admin
flake8
fqdn
geemap
gensim
git-filter-repo
gmpy2
gradio
greenlet
groq
gTTS
HeapDict
httptools
hvplot
imagecodecs
imbalanced-learn
isoduration
jupyter
lckr_jupyterlab_variableinspector
lmdb
lz4
mypy

newspaper3k
openpyxl
pip
pipenv
pycurl
pydocstyle
pymongo
pyodbc
Pyrebase
PySocks
pytest
pyu2f
PyWavelets
redis
rope

s3fs
scikit-image
Scrapy
seaborn
sentence-transformers
sip
smithery
SpeechRecognition
spyder

tables
tensorflow
unicodedata2
Unidecode
uri-template
uv
uvloop
watchfiles
web3
webcolors
whatthepatch
xgboost
xlwings
yapf
